<launch>
  <arg name="model" default="RigidBody"/>
  <arg name="output" default="screen"/>

  <node pkg="qualisys"
    type="qualisys_node"
    name="qualisys"
    output="screen">
    <param name="server_address" value="192.168.54.200"/>
    <param name="base_port" value="22222"/>
    <param name="publish_tf" value="false"/>
  </node>

  <node pkg="qualisys" type="qualisys_odom_node" name="$(arg model)"
    output="$(arg output)">
    <param name="qualisys_fps" type="double" value="100"/>
    <remap from="~qualisys_subject" to="/qualisys/$(arg model)"/>
  </node>
</launch>
